@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&display=swap');
:root{
    --cor-primaria:#F8F8F4 ;
     --cor-secundaria: #7e93ab ; 
     --cor-tercearia: #86756a ; 
    --cor-quartaria: #393f4a;

     --dourado-claro: #f6e3b3;  /* brilho */
    --dourado-medio: #d4ab3a;  /* cor principal */
    --dourado-escuro: #b07a18; /* sombra */
    --borda-dourado: rgba(0,0,0,0.12);
    --raio-borda: 28px; /* formato "pill" */

    --fonte-padrao: "Lato", "sans-serif";
    --fonte-titulo: "Gilda Display", "sans-serif"

    

}

body, html{
  scroll-behavior: smooth;
}

section{
  padding: 20px 0;
}

*{
    margin: 0;
    padding: 0;
}

body{
    overflow-x: hidden;
    font-family: var(--fonte-padrao);
}

main{
  background-color: #F8F8F4;
}

h1,h2,h3{
    font-family: var(--fonte-titulo);
}

h2{
  font-weight: normal;
  line-height: 2em;
}

p{
    line-height: 2em;
}

header {
  position: fixed;
  color: #d4ab3a;
  padding: 20px 0px;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1000;
  transition: background-color 0.3s ease, padding 0.3s ease;
 

}

header.scrolled {
  background-image: linear-gradient(45deg, #e3e6e0 70%, #cdcecb );
  padding: 15px 0px;
}

header.scrolled a{
  color: black;
}

header figure {
  margin: 0;
}

#logo {
  width: 180px;
  transition: filter 0.3s ease;
  
}

.centralizar{
    max-width: 90%;
    margin: auto;
}

.btn-whatsapp{
  background: linear-gradient(
    180deg, 
    var(--dourado-claro) 0%, 
    var(--dourado-medio) 50%, 
    var(--dourado-escuro) 100%
  );
  border: 1px solid var(--borda-dourado);
  box-shadow:
    0 8px 20px rgba(176,122,24,0.18),       
    inset 0 1px 0 rgba(255,255,255,0.55);  
  color: white;
  padding: 12px 22px;
  text-decoration: none;
  font-weight: 700;
  border-radius: 25px;
  transition: background-color 0.3s ease;
  border: none;
  max-width: 30%;
}



.btn-whatsapp a{
    color: white;
}

a{
    text-decoration: none;
   
}
ul{
    list-style: none;
}

#container-header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70%;
  
  border-radius: 2em;
  padding: 15px 20px;
}

nav{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-top: 10px;
    align-items: center;
    
}

nav ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
    gap: 30px;
    
}

nav ul li a {
  position: relative;
  text-decoration: none;
  color: white;
  font-weight: 300;
  padding-bottom: 4px; 
  text-transform: uppercase;
  
}

nav ul li a::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 0;
  background-color: #B49465; 
  transition: width 0.3s ease-in-out;
}

nav ul li a:hover::after {
  width:30%;
}

#sessao-bandeira{
  position: relative;
  padding-top:0;

}

#bandeira{
    position: relative;
    max-width: 100vw;
    height: 600px;
   background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.514) 0%,   /* bem escuro no topo */
    rgba(0, 0, 0, 0.185) 14%,   /* já começa a suavizar */
    rgba(0, 0, 0, 0.007) 35%,  /* quase transparente */
    rgba(0, 0, 0, 0) 70%      /* some totalmente */
    ),
    url("imagens/hero.jpg");
    background-position: 25% top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 0;
    margin-bottom: 50px;
    padding: 100px 0;

}

#bandeira div{
    position: absolute;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 15px;
 
}

#bandeira h1{
  font-weight: 400;
  color: #ffffff;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.582);
  
}

#bandeira div p{
       text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.349);
    }

#bandeira button{
    display: block;
    cursor: pointer;
    padding: 0 1rem;
    min-width: 200px;
}

#bandeira button a{
  display: block;
  width: 100%;
  padding: 15px 0;
}



#sessao-atuacoes-destaque h2{
  text-align: center;
  color: var(--cor-quartaria);
}

.atuacoes{
  display: flex;
  justify-content: space-around;
  padding-bottom: 50px;

}

 i {
    color: #d4ab3a;
    display: block;
    margin-bottom: 10px;
}

.icones{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
 
  text-align: center;
}


.logo-branca{
     filter: brightness(0) invert(1);
     
      filter: brightness(0) invert(1) drop-shadow(2px 2px 3px rgba(0, 0, 0, 0.7));
    
}


.decorado {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: 500;
    color: #333;
    margin: 0 0 80px 0;
}

.decorado::before,
.decorado::after {
    content: '';
    width: 20%;
    height: 1px;
    background-color: #D4B673;
    margin: 0 1rem;
    
}

.container-sobre{
  display: flex;
  
}


#sobre{
  color: white;
  display: flex;
  background-image: url(imagens/textura.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  padding: 80px 0;
}

#sobre h2{
  text-transform: uppercase;

}

#conteudo-sobre{
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#conteudo-sobre p{
  text-align: justify;
}

.nome-adv{
  display: flex;
  gap: 0.8rem;
}

#sobre span{
  display: block;
  height: 2px;
  background-color: #D4B673;
}

#sobre p{
  margin: 8px 0;
}

.subtitulo{
  font-size: 1.25rem;

}

.btn-clean{
  background-color: transparent;
  padding: 15px;
  border-radius: 25px;
  color:#ffffff;
  border:1px solid #ffbb01;
  cursor: pointer;
}

.btn-clean:hover{
  background-color: #d4ab3a;
  border: 1px solid #d4ab3a;
  color: white;
  transition-duration: 0.5s;
}




 .diferenciais {
    padding: 60px 20px;
    text-align: center;
  }

  .diferenciais h2 {
    font-size: 1.8rem;
    margin-bottom: 40px;
    color: #393f4a;
    font-weight: normal;
  }

  .diferenciais h2 span {
    color: var(--cor-tercearia) /* dourado */
  }

  .diferenciais-container {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
  }

  .diferencial {
    flex: 1 1 280px;
    background: #fafaf6;
    border-radius: 16px;
    padding: 30px 20px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
    transition: transform 0.3s ease;
  }

  .diferencial:hover {
    transform: translateY(-6px);
  }

  .diferencial i {
    width: 40px;
    height: 40px;
    color: #86756a; /* ícone dourado */
    margin-bottom: 15px;
  }

  .diferencial h3 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #393f4a;
  }

  .diferencial p {
    font-size: 0.95rem;
    color: #6b737b;
    line-height: 1.4;
  }

  #cta{
    display: flex;
    background-color: var(--cor-quartaria);
    color: white;
    text-align: center;
    padding: 80px 0;
  }

  #cta p{
    margin-bottom: 2rem;
    font-size: 1.2rem;
  }

  /*=========SOBRE=========*/
  .container-perfil {
  display: flex;
  gap: 3rem;
  padding: 14rem 5%;
}

/* Coluna esquerda */
.coluna-esquerda {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.link-voltar {
  text-decoration: none;
  color: #555;
  font-weight: bold;
  margin-bottom: 1.5rem;
  display: inline-block;
}

.imagem-perfil img {
  width: 100%;
  max-width: 350px;
  border-radius: 20px;
  object-fit: cover;
  margin-top: 5em;
}

/* Coluna direita */
.coluna-direita {
  flex: 2;
}

.nome {
  font-size: 2rem;
  font-weight: normal;
  margin-bottom: 0.3rem;
  
  display: block;
  max-width: 400px;
  text-align: left;
  border-radius: 25px;
  
}

.cargo {
  font-size: 1rem;
  font-weight: bold;
  color: #555;
  margin-bottom: 1rem;
}



.contato h2,
.endereco h2 {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.3rem;
  margin-top: 1.5rem;
}

.contato p,
.endereco p,
.biografia p {
  margin-bottom: 0.8rem;
  text-align: justify;
 
}



/* =======ATUACAO ======== */

.servicos{
  max-width: 90%;
  margin: 9.8em auto;
  padding: 80px 0 20px;
}

.servicos-lista {
  display: grid;
  gap: 12px;
  max-width: 1200px;
  margin: 0 auto;
}
.servico-item {
  display: flex;
  align-items: center;
  gap: 12px;
  background: white;
  border-radius: 10px;
  padding: 18px 22px;
  box-shadow: 0 3px 8px rgba(0,0,0,0.08);
  font-weight: 600;
  transition: transform 0.3s ease;
  cursor: default;
  
}

.servico-item:hover {
  transform: translateY(-5px);
  box-shadow: 0 7px 15px rgba(0,0,0,0.15);
  background-color: var(--cor-primaria);
  color: #d4ab3a;
}


.servico-item:hover i {
  color: #d4ab3a;
}

.servico-item i {
  font-size: 24px;
  color: var(--cor-secundaria);

}

#sessao-resumo{
background-color:#ffff;
padding: 50px 0;
  
}

#sessao-resumo h2, .servicos h2{
  text-align: center;
}
.atuacoes-texto {
  margin: 50px auto;
  display: flex;
  justify-content: center;
 

}

.atuacoes-texto-container {
 
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.atuacao-resumo {
  background-color: #fff;
  padding: 25px 20px;
  border-radius: 15px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.08);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.atuacao-resumo:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.12);
}

.atuacao-resumo h3 {
  margin-bottom: 12px;
  color: #1a1a1a;
  font-size: 1.2rem;
  line-height: 2em;
}

.atuacao-resumo p {
  color: #555;
  text-align: justify;
  line-height: 2em;
}



/*FORMULÁRIO*/

#sessao-contato{
  width: 80%;
  display: flex;
  justify-content: space-around;
  text-align: justify;
  align-items: center;
  padding: 10em 0;
  margin: 0;
}

#sessao-contato p{
  line-height: 2em;
}

#sessao-contato h1{
  color: var(--cor-tercearia);
  font-weight: 300;
}

.form-contato {
  max-width: 600px;
  margin: 0 auto;
  background-color: #f5f5f5;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  font-family: sans-serif;
}



.form-contato h2 {
  margin-bottom: 20px;
  font-size: 24px;
  color: var(--cor-quartaria);
}

.form-contato label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.form-contato input,
.form-contato textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

.form-contato button {
  background-color:  var(--cor-quartaria);
  color: white;
  padding: 12px 25px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.form-contato button:hover {
  background-color: #d4ab3a;
  transition-duration: 0.5s;
}



footer{
  position: relative;
  z-index: 2;
  width: 100%;
  padding: 80px 0 40px;
 background-image: linear-gradient(45deg, #e3e6e0 60%, #cdcecb );
  color: var(--cor-quartaria);

}

footer img{
  width: 200px;
}

footer div{
  padding-top: 30px;
  width: 90%;
  margin: auto;
}

footer h2, footer li, footer a{
  color: var(--cor-quartaria);
  margin-top: 15px;
  list-style: none;
}

footer a:hover{
  color: var(--cor-secundaria);
}

.divisoria{
    display: block;
    width: 90%;
    height: 1px;
    background-color: black;
    margin: 50px auto 0px;
    text-align: center;
}



  .social-buttons {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    z-index: 1000;
}

.social-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-button img {
    width: 30px;
    height: 30px;
}

/* WhatsApp Button */
.whatsapp-button {
    background-color: #25d366;
}

.whatsapp-button:hover {
    background-color: #1ebe57;
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

/* Instagram Button */
.instagram-button {
    background: radial-gradient(circle, #f09433, #e6683c, #dc2743, #cc2366, #bc1888);
}

.instagram-button:hover {
    transform: scale(1.1);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}


/* ANIMAÇÃO DE SURGIMENTO */

.surgir {
  opacity: 0;
  transform: translateY(30px);
  transition: all 0.6s ease-out;
}

.surgir.aparecendo {
  opacity: 1;
  transform: translateY(0);
}

.surgir-direita {
  opacity: 0;
  transform: translateX(50px);
  transition: all 0.6s ease-out;
}
.surgir-direita.aparecendo {
  transform: translateX(0);
  opacity: 1;
}

.surgir-esquerda {
  opacity: 0;
  transform: translateX(-50px);
  transition: all 0.6s ease-out;
}
.surgir-esquerda.aparecendo {
  transform: translateX(0);
  opacity: 1;
}

.surgir-baixo {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease-out;
}
.surgir-baixo.aparecendo {
  transform: translateY(0);
  opacity: 1;
}
